@using CeroGame.GameService.GameLogic;
@using MudBlazor


<MudPaper @onclick="ToggleActive" Class=@($"card-container {CanBePlayedString}") Style=@($"background-color:{ColourString};position:relative; left:{LeftOffset}vw; top:calc({topOffset}vw + {_activeOffsetString}vw)") Elevation="3">
    @*@CardModel.GuidId;*@
    @if (!Hidden)
    {
        <div class="number-container-corner">
            <h1>@CardModel.Number</h1>
        </div>
        <div class="number-container-center .text-center">
            <h1>@CardModel.Number</h1>
        </div>
    }
</MudPaper>
