@using CeroGame.GamePresentation.Core;
@using CeroGame.GameService.GameLogic;
@using CeroGame.GameService.Models;
@using MudBlazor
@inherits DeckBase
<div class="absolute-deck-container ">
    <MudText>Pick Up:</MudText>
    @if (GM.MainDeck.Any())
    {
        <div style=@($"position:absolute")>
            <Card CardModel="GM.MainDeck.Last()" Deck=this CanPickup=true GM=GM></Card>
        </div>

    }

</div>

@code {

}