@using CeroGame.GamePresentation.Core;
@using CeroGame.GameService.GameLogic;
@using CeroGame.GameService.Models;
@using MudBlazor
@inherits DeckBase
<div class="absolute-deck-container ">
    <MudText>Cards Played:</MudText>
    @foreach (var item in GM.MiddleDeck.TakeLast(GM.MaxMiddleCards))
    {
        @if (GM.MiddleDeck.Count() > GM.Rotations.Count() && GM.MiddleDeck.FirstOrDefault() != item)
        {
            GM.Rotations.Add(new Random().Next(-10, 10));
        }
        <div style=@($"position:absolute;transform:rotate({GM.Rotations[GM.MiddleDeck.IndexOf(item)]}deg);")>
            <Card CardModel="item" Played=true Deck=this GM=GM Hidden=false></Card>
        </div>
    }
</div>


@code {

}
