@using CeroGame.GameService.GameLogic;
@using CeroGame.GameService.Models;
@using MudBlazor
<button @onclick="StateHasChanged">test</button>
<MudText>Cards Played:</MudText>
<CeroGame.GamePresentation.Components.MiddleDeck GM=GM PlayedCards="GM.MiddleDeck"/>
<MudText>ME:</MudText>
<CeroGame.GamePresentation.Components.Deck Table=this Hidden=false GM=GM Cards="GM.P1" />
<MudText>Them:</MudText>
<CeroGame.GamePresentation.Components.Deck Table=this GM=GM Cards="GM.P2" />
@code {



    private List<CardModel> models = new();
    private GameMaster GM = new();
    protected override void OnInitialized()
    {
        base.OnInitialized();


    }

    public void Refresh() => StateHasChanged();


}
